<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                    http://my-js-sonar.westeurope.azurecontainer.io:9000
                </sonar.host.url>
                <sonar.login>
                    ${{ secrets.SONAR_USER }}
                </sonar.login>
                <sonar.password>
                    ${{ secrets.SONAR_TOKEN }}
                </sonar.password>
            </properties>
        </profile>
    </profiles>
</settings>
